a:link {
	color: rgb(37, 84, 189);
}

a:visited {
	color: rgb(37, 84, 189);
}

img {
	border: 0;
}

body{
	text-align:center;
}
	

div.quote {
	text-align: justify;
	margin-left: 40px;
	margin-right: 60px;
}

div.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

div.logopic {
	float: left;
	position: relative;
	width: 200px;
}

div.logotxt {
	float: right;
	position: relative;
	top: 20px;
}

div.separator {
	clear: both;
	position: relative;
	top: 20px;
	width: 100%;
	height: 3px;
	background-color: #E0E0E0;
}

div.main {
	float: right;
	clear: right;
	position: relative;
	top: 20px;
	width: 650px;
	margin: 50px;
	margin-right:100px;
	font-family: georgia;
}

div.menu {
	float: left;
	position: relative;
	top: 50px;
	width: 200px;
	background: url(images/nt.gif) repeat;
	margin: 1em auto;
	font-family: georgia;
}

ol.menulist {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

ol.innermenulist {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	font-weight: normal;
}

li {
	padding-top: 10px;
}

.newsfeed {
	float: left;
	clear: left;
	position: relative;
	top: 50px;
	width: 200px;
	background: url(images/nt.gif) repeat;
	margin: 1em auto;
	font-family: georgia;
}

.whoarewe {
	float: left;
	clear: left;
	position: relative;
	top: 50px;
	width: 200px;
	background: url(images/nt.gif) repeat;
	margin: 1em auto;
	font-family: georgia;
}

span.code {
	font-family: courier;
	color: #333333;
}

/* generated code begin */
.rbtop div { background: url(images/tl.gif)
	no-repeat top left; }
.rbtop { background: url(images/tr.gif)
	no-repeat top right; }
.rbbot div { background: url(images/bl.gif)
	no-repeat bottom left; }
.rbbot { background: url(images/br.gif)
	no-repeat bottom right; }
.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontent { margin: 0 7px; margin:20px; }
/* generated code end */

div.copyright {
	clear: both;
	padding-top: 30px;
	text-align: center;
	color: gray;
	font-family: georgia;
	font-size: 10px;
}
